.placeholder {
  height: 100%;

  background-image: url("https://images.unsplash.com/photo-1563863251222-11d3e3bd3b62?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  filter: contrast(1.5) hue-rotate(45deg) saturate(1.5) grayscale(0.8);
}
