.container {
  padding: 0;
  aspect-ratio: 1;
}

.container.round {
  border-radius: 50%;
  overflow: hidden;
}

.container > img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.container > svg {
  display: block;
  width: 100%;
  height: 100%;
}
