.container {
  display: grid;
  gap: var(--gap-1);
  grid-template-areas:
    "img1 img2 img3 img4"
    "upload upload upload upload";
}

.container > .btn {
  grid-area: upload;

  font-weight: var(--fw-light);
}
