.container {
  width: 100%;
  min-height: 50%;

  display: grid;
  gap: var(--gap-2);
  grid-template-columns: repeat(4, 1fr);
}

.follower {
  width: 100%;
  min-height: 50%;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
