.event {
  width: 100%;
  padding: 0.5em 1em;

  background-color: var(--clr-gray-250);
}

.event:hover {
  background-color: var(--clr-primary);
}

.event.active {
  background: var(--clr-primary-dark);
}
