.bubble {
  position: absolute;
  width: 1.5em;
  aspect-ratio: 1;
  border-radius: 50%;

  display: grid;
  place-content: center;

  font-size: 1em;
  background-color: var(--clr-primary);
}

[data-position^="top-"] {
  top: -0.5em;
}
[data-position^="bottom-"] {
  bottom: -0.5em;
}
[data-position$="-left"] {
  left: -0.5em;
}
[data-position$="-right"] {
  right: -0.5em;
}
[data-position="before"] {
  left: 0;
  top: 50%;
  transform: translate(-125%, -50%);
}

[data-size="small"] {
  width: 1em;
  font-size: 1em;
}
