.container {
  display: grid;
  gap: var(--gap-1);
}

.container > * {
  width: 100%;
  padding: 0.5em 1em;
}

.container > a {
  transition: background-color var(--ts-speed-4) ease-in-out;
}

.container > a:hover {
  background-color: var(--clr-gray-400);
}

.heading {
  margin-bottom: 0.5rem;
  background-color: var(--clr-primary-dark);
}

.item {
  background-color: var(--clr-gray-250);
}
