.page {
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: var(--gap-4);

  margin: auto 0;
}

.signup {
  width: var(--single-column-width);
  padding: 3rem;

  display: grid;
  gap: var(--gap-3);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "profile gallery gallery"
    "form form form"
    "form form form";
}

.signup .profile {
  grid-area: profile;
}

.signup .gallery {
  grid-area: gallery;
}

.signup .form {
  grid-area: form;
}
